<div class="row" id="footer-section">
  <p>
    <a href="https://github.com/daverlon" target="_blank">
    <!-- set the image position here to avoid it slowly moving to position after it has loaded on the page  -->
      <img src="" id="github-logo-footer" style="margin-left: 35px; float: left; margin-top: -4px;">
    </a>
    © 2022-2025&nbsp;&nbsp;&nbsp;David Long
  </p>

  <p style="margin-top: 5px; font-size: 12px; text-align: center;">

    <a href="https://www.flaticon.com/free-icons/mode" 
    target="_blank"
    title="mode icons">
      Mode icons created by adriansyah - Flaticon
    </a>

  </p>

</div>
