<nav class="navbar navbar-expand-md navbar-light" id="mynav">
  <a href="/index.html" class="navbar-brand">
    <!-- <img src="images/fantano-icon.png" id="top-logo" alt="" width="150%"> -->
    <img src="" id="top-logo" alt="" width="150%">
  </a>

  <a href="#">
    <img id="darkmode-toggle-button" src="images/moon-dark.png" width="25px;"
    style="margin-left: 30px; margin-top: 1px;">
  </a>
  

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
    aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="toggleMobileMenu">
    <ul class="navbar-nav ms-auto text-center"  id="navbar-items">

      <li>
        <a href="/index.html" class="nav-link" id="nav-index">Home</a>
      </li>
      <li>
        <a href="/blog.html" class="nav-link" id="nav-blog">Blog</a>
      </li>
      <li>
        <a href="/resume.html" class="nav-link" id="nav-resume">Résumé</a>
      </li>
      <li>
        <a href="/contact.html" class="nav-link" id="nav-contact">Contact</a>
      </li>
    </ul
  </div>
</nav>
